.container {
  position:relative;
  width:681px;
  height:530px;
  background:#fffff;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  border-color: #d3d3d3;
}

.red {
  background:red;
  width:325px;
  height:230px;
  position:absolute;
  top:10px;
  left:10px;
}

.green {
  background:green;
  width:325px;
  height:230px;
  position:absolute;
  top:10px;
  right:10px;
}

.blue {
  background:blue;
  width:325px;
  height:230px;
  position:absolute;
  bottom:50px;
  left:10px;
}

.purple {
  background:purple; 
   width:325px;
  height:230px;
  position:absolute;
  bottom:50px;
  right:10px;
}  

.gray {
  background:gray; 
  width:660px;
  height:25px;
  position:absolute;
  bottom:10px;
  right:10px;
}  