.container {
  position:relative;
  width:500px;
  height:542px;
  background:#ffffff;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  border-color: #d3d3d3;
  text-align: center;
  color:white;
}

.red {
  background:red;
  width:100px;
  height:100px;
  position:absolute;
  top:0px;
  left:0px;
}

.green {
  background:green;
  width:100px;
  height:100px;
  position:absolute;
  top:0px;
  right:0px;
}

.blue {
  background:blue;
  width:100px;
  height:100px;
  position:absolute;
  bottom:0px;
  left:0px;
}

.purple {
  background:purple; 
  width:100px;
  height:100px;
  position:absolute;
  bottom:0px;
  right:0px;
}  

.gray {
  background:gray; 
  width:100px;
  height:100px;
  position:absolute;
  bottom:220px;
  right:205px;
}  