.container {
  position:relative;
  width:700px;
  height:355px;
  background:#cccccc;
  text-align: center;
  color:white;
}

.red {
  background:red;
  width:100px;
  height:100px;
  position:absolute;
  top:0px;
  left:0px;
}

.green {
  background:green;
  width:100px;
  height:100px;
  position:absolute;
  top:0px;
  right:0px;
}

.blue {
  background:blue;
  width:100px;
  height:100px;
  position:absolute;
  bottom:0px;
  left:0px;
}

.purple {
  background:purple; 
  width:100px;
  height:100px;
  position:absolute;
  bottom:0px;
  right:0px;
}  

.footer {
  background:gray; 
  width:100px;
  height:100px;
  position:absolute;
  bottom:135px;
  right:160px;
  border-style: solid;
  border-width: 10px 135px 10px 135px;
  border-color: white;
}  
