@charset "utf-8";
/* CSS Document */

body {
    font-family: "Georgia", Times, Serif; 
    color: #FA0E00;
    line-height: 1.5em;
    background-color: #19ff8c;  
    background-image:   
    url("images/butterfly.gif");
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: top right;
}

body {
    margin: 75x;
}

#container {
    margin-bottom: 30px;
}

nav ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    color: #7C1A00;
}

nav li {
   margin: 10px;
   border: 1px solid red;
   border-style: solid;
   border-color: #f3ff19;
   background-color: #0ffc03; 
}

h1 {
    color: #FFBB19;
    font-weight: bold;
    text-align: center;
    line-height: 1cm;
}

h2 {
    color: #1703fc;
    font-weight: bold;
    text-align: center;
    line-height: 1cm;
}

h3 {
    color: #FF0FF5;     
    font-weight: bold;
    text-align: center;
    line-height: 1cm%;
}

ul {
    list-style-type: square;
}

font {
    color: #FA0E00;
    font-weight: bold;
    text-align: center
}

a:hover {
    color:#FF0FF5; 
}

footer {
    clear: both;
    text-align: center;
	color: #000000;
    font-weight: bold;
}

footer li {
    display: inline;
    padding: 10px;
}

