@charset "utf-8";
/* CSS Document */

body {
    font-family: "Georgia", Times, Serif; 
    color: #FA0E00;
    line-height: 1.5em;
    background-color: #19ff8c;  
    background-image:   
    url("week08/images/source-1.gif");
   
}

body {
    margin: 30px;
}
#container {
    margin-bottom: 30px;
}

nav ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    color: #7C1A00;
}

nav li {
   margin: 10px;
   border: 1px solid red;
   border-style: solid;
   border-color: #f3ff19;
   background-color: #0ffc03; 
 }

 #container {
    background-image: url("images/source01.gif");
    border: 1px solid #0ffc03;
    margin-left: 180px;
    padding: 10px;
}

#container {
    border: 1px solid #FF0FF5;
    margin-left: 180px;
    padding: 10px;
}

footer {
    clear: both;
    text-align: center;
}

footer li {
    display: inline;
    padding: 10px;
}

h1 {
    color: #FF0FF5;
    font-weight: bold;
    text-align: center;
    background-image: url("images/header-star-1.gif");
}
#container {
    border: 1px solid #1703fc;
    margin-left: 180px;
    padding: 10px;
}

h2 {
    color: #FFBB19;
    font-weight: bold;
    text-align: center;
}

h3 {
    background-image: url("images/header-star-1.gif");
    padding-left: 20px;
    background-repeat: no-repeat;
}

blockquote {
    background-color: #FFE597;
}

ul {
    list-style-type: square;
  }

font {
    color: #FA0E00;
    font-weight: bold;
    text-align: center
}

a:hover {
    color:#FF0FF5; 
}

