@charset "utf-8";
/* CSS Document */

body {
    font-family:  "Gill Sans", sans-serif; 
    color: #FA0E00;
    line-height: 1.5em;
    margin: 30px;
    background-color: #D1FEFF;  
    background-image:   
    url("images/butterfly.gif");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right;
}

body {
    font-family: 'Caveat', cursive;
    font-family: 'Indie Flower', cursive;
    margin: 30px;
    margin: 15px;
}

#container {
    margin-bottom: 30px;
}

nav ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

nav li {
   margin: 10px;
   font-family: 'Patrick Hand', cursive;
   text-decoration: nonee;
   font-size: 25px;
   font-weight: bold;
   border: 1px solid red;
   border-style: solid;
   border-color: #f3ff19;
}

h1 {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    color:  #1703fc;
    font-weight: bold;
    text-align: center;
    line-height: 1cm;
}

h2 {
    font-family: 'Monoton', cursive;
    color: #901CFC;
    font-weight: bold;
    text-align: center;
    line-height: 1cm;
}

h3 {
    color: #FF0FF5;     
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    text-align: center;
    line-height: 1cm;
}

font {
    font-weight: bold;
    text-align: center
}

ul {
    list-style-type: square;
    margin: 75px;
}

a:active {
    text-decoration: nonee;
  }

a:hover {
    color:#FF0FF5; 
}

footer {
    clear: both;
    font-family: cursive;
    text-align: center;
	color: #000000;
    font-weight: bold;
}

footer li {
    display: inline;
    padding: 10px;
}

