.container {
  position:relative;
  width:490px;
  height:160px;
  background:#ffff;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  border-color: #d3d3d3;
  
}

.red {
  background:red;
  width:100px;
  height:100px;
  position:absolute;
  top:15px;
  left:15px;
}

.green {
  background:green;
  width:100px;
  height:100px;
  position:absolute;
  top:15px;
  right:255px;
}

.blue {
  background:blue;
  width:100px;
  height:100px;
  position:absolute;
  top:15px;
  left:254px;
}

.purple {
  background:purple; 
  width:100px;
  height:100px;
  position:absolute;
  top:15px;
  right:15px;
}  

.gray {
  background:gray; 
  width:474px;
  height:25px;
  position:absolute;
  bottom:9px;
  right:08px;
}  