.container {
  position:relative;
  width:500px;
  height:160px;
  background:#cccccc;
}

.red {
  background:red;
  width:100px;
  height:100px;
  position:absolute;
  top:15px;
  left:15px;
}

.green {
  background:green;
  width:100px;
  height:100px;
  position:absolute;
  top:15px;
  right:260px;
}

.blue {
  background:blue;
  width:100px;
  height:100px;
  position:absolute;
  top:15px;
  left:263px;
}

.purple {
  background:purple; 
  width:100px;
  height:100px;
  position:absolute;
  top:15px;
  right:15px;
}  

.gray {
  background:gray; 
  width:474px;
  height:25px;
  position:absolute;
  bottom:9px;
  right:14px;
}  