@charset "utf-8";
/* CSS Document */

.margins {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #ECECEC;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFF;
	text-align: center;
	line-height: 24px;
}

#wrapper {
	background-color: #FFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}

box-sizing{
	box-sizing: border-box;
  }
  
.box {
	float: left;
	width: 33.33%; /* three boxes (use 25% for four, and 50% for two, etc) */
	padding: 50px; /* if you want space between the images */
}

div {
    margin: 5px;
    width: 50px;
    height: 150px;
}
  
.left {
    float: left;
    background-color: #900;
}
  
.right {
    float: right;
    background-color: #090;
}

.bottom-right {
    float: right;
    background-color: #63C;
}

.bottom-left {
    float: left;
    background-color: #00F;
}

.bottom-center {
    float: center;
    background-color: #666;
}

#red {
    background-color: #900;
}

#green {
    background-color: #090;
}

#blue {
    background-color: #00F;
}

#purple {
    background-color: #63C;
}

#footer {
    background-color: #666;
}

h1 {
	color: #000;
	font-weight: normal;
	padding: 50px;
}