.container {
    width:500px;
    height:500px;
    background:#cccccc;
  }
  
  .red {
    background:red;
    width:230px;
    height:230px;
    float:left;
    margin:10px;
  }
  
  .green {
    background:green;
    width:230px;
    height:230px;
    float:left;
    margin:10px;
  }
  
  .blue {
    background:blue;
    width:230px;
    height:230px;
    float:left;
    margin:10px;
  }
  
  .purple {
    background:purple; 
    width:230px;
    height:230px;
    float:left;
    margin:10px;
  }  